<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('./partials/head') %>
    <title>Home</title>
</head>
<body>
   <%- include('./partials/nav') %>
   <div class="container mt-3">
      <% blogs.forEach(blog => { %>

         <div class="card" style="width: 18rem;">
            <img src="<%= blog.coverImageUrl %>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= blog.title %></h5>
              <a href= <%= `blog/${blog._id}` %> class="btn btn-primary">Click to View</a>
            </div>
          </div>
       
      <% }) %>
   </div>
   
   
   <!-- <%= JSON.stringify(blogs)%>    -->

   <%- include('./partials/script') %>
</body>
</html>